#alert_menu,#alert_menu_inf{
visibility: hidden;  
position:fixed;
width:auto;
height:auto;
padding:10px;
background-color:#fff;
z-index:999999999999999999999999999999999999;
border-width:2px;
border-color:#114A70; 
border-radius:5px;
border-style:ridge;
opacity:1;
filter: alpha(opacity=100);

}

#alert,#alert_inf{
position:relative;
width:max-content;
height:max-content;
}
#al_contents,#al_contents_inf{
position:relative;
width:max-content;
height:max-content;
display:inline-block;
float:left;
margin:auto;
min-width:180px;
max-width:180px;
font-weight:normal;
color:#081C29;
font-size:0.90em; 
font-family:tahoma;
text-align: center;
padding:5px;
}
#al_choose,#al_choose_inf{
display:block;   
position:relative;
width:max-content;
height:max-content;
margin:auto;
}
#al_ok_inf{
display:inline-block;   
position:relative;
width:max-content;
height:max-content;  
border-width:2px;
border-color:#114A70; 
border-radius:5px;
border-style:outset;
background-color: #114A70;
min-width:90px;
float:center;
margin-left:50px;
cursor:pointer;
font-weight:normal;
color:#E5F5FF;
font-size:0.90em; 
font-family:tahoma;
text-align: center;
}
#al_yes{
display:inline-block;   
position:relative;
width:max-content;
height:max-content;  
border-width:2px;
border-color:#114A70; 
border-radius:5px;
border-style:outset;
background-color: #114A70;
min-width:90px;
float:left;
magin-left:15px;
cursor:pointer;
font-weight:normal;
color:#E5F5FF;
font-size:0.90em; 
font-family:tahoma;
text-align: center;
}
#al_no{
display:inline-block;   
position:relative;
width:max-content;
height:max-content; 
border-width:2px;
border-color:#114A70; 
border-radius:5px;
border-style:outset;
background-color: #114A70;
min-width:90px;
float:right;
magin-right:15px;
cursor:pointer;
font-weight:normal;
color:#E5F5FF;
font-size:0.90em; 
font-family:tahoma;
text-align: center;
}