
div#top_menu {
    width:1100px;
    height:40px;
    position:fixed;
    margin:auto;
    background-color: #c2eee9;
    z-index:1;
}
div#logo{
    position:relative;
    float:left;
    width:200px;
    height:40px;
}
div#childlogo{
    position:relative;
    margin:auto;
    top:5px;
    width:100px;
    height:30px;
    text-align: center;
}
div#search{
    position:relative;
    float:left;
    width:400px;
    height:40px;
}
div#configure_link{
    position:relative;
    float:right;
    width:140px;
    height:40px;
    background-color: #d3eeec;
}
div#logout{
    position:relative;
    margin:auto;
    top:5px;
    width:100px;
    height:30px;   
    text-align: center;
}
#searchin{
 width:200px;
 margin-top:10px;
}
span.logo{
color:#104c44;
font-family:tahoma;
font-weight: 100;
font-size:0.9em;  
line-height:30px;
margin:auto;
}
span.logout{
color:#104c44;
font-family:tahoma;
font-weight: 100;
font-size:0.85em;  
line-height:30px;
}
a{
text-decoration:none;
}
